.search{
    margin-top: 10px;
    margin-left: 400px;

}

body{
    background-image: url("../asset/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
}
